{% extends 'core/base.html' %}
{% load static %}

{% block title %}Appointment Entry{% endblock title %}

{% block content %}
  <h1 class="text-white text-center">
      <strong>#Appointment_Entry</strong>
  </h1>
  <div class="d-flex justify-content-end">
    <button type="button" class="btn btn-primary">
      Serial No. <span class="badge bg-secondary">{{serial_no}}</span>
    </button>
  </div>
  <div class="row">
    <!-- FORM GRID  -->
    <form action="{% url 'patients:appointment_entry' %}" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="col-sm-12 col-md-8 col-lg-8 mb-3">
        <h3 class="text-white"><strong>#Fill_Up_The_Form:</strong></h3>

        <div class="row">
          <!-- CARD ID -->
          <div class="col-md-6 col-lg-6 col-sm-12 mt-3 mb-3">
            <label for="card" class="form-label text-white">Card ID:</label>
            <input type="text" class="form-control" name="card" id="card" value="" placeholder="No Card Selected">
            <div class=" rounded"  id="result-box"></div>
          </div>
          <!-- CARD ID END -->

          <!-- CARD DESCRIPTION -->
          <div class="col-md-4 col-lg-4 col-sm-12 mt-3 mb-3">
            <div class="p-3"></div>
            <div class="form-text text-white">(No Card Selected)</div>
          </div>
          <!-- CARD DESCRIPTION END -->
         </div>

          <!-- NAME, ADDRESS DIV-ROW -->
          <div class="row">
            <!-- NAME -->
            <div class="col-md-6 col-lg-6 col-sm-12 mb-3">
              <label for="patient_name" class="form-label text-white">Name:</label>
              <input type="text" class="form-control" name="patient_name" id="patient_name" placeholder="Name" required>
            </div>
            <!-- NAME END -->

            <!-- ADDRESS -->
            <div class="col mb-3">
              <label for="location" class="form-label text-white">Address(required):</label>
              <input type="text" class="form-control" name="location" id="location" placeholder="Current Address" required>
            </div>
            <!-- ADDRESS END -->
          </div>
          <!-- NAME, ADDRESS DIV-ROW END -->

          <!-- GENDER,AGE,CONTACT DIV-ROW -->
          <div class="row">
            <!-- GENDER -->
            <div class="col-md-3 col-lg-3 col-sm-6 mb-3">
              <label for="gender" class="form-label text-white">Gender:</label>
              <select class="form-select text-secondary" name="gender" id="gender" required>
                <option value="" selected>Gender</option>
                <option value="M">Male</option><option value="F">Female</option>
              </select>  
            </div>
            <!-- GENDER END -->
            
            <!-- AGE -->
            <div class="col-md-3 col-lg-3 col-sm-6 mb-3">
              <label for="age" class="form-label text-white">Age:</label>
              <input type="number" class="form-control" name="age" id="age" placeholder="Age">
            </div>
            <!-- AGE END -->

            <!-- BLOOD GROUP START -->
            <div class="col-md-3 col-lg-3 col-sm-6 mb-3">
              <label for="blood_group" class="form-label text-white">Blood Group:</label>
              <select class="form-select text-secondary" name="blood_group" id="blood_group" required>
                <option value="" selected>Blood Group</option>
                <option value="O+">O(+ve)</option><option value="O-">O(-ve)</option>
                <option value="A+">A(+ve)</option><option value="A-">A(-ve)</option>
                <option value="B+">B(+ve)</option><option value="B-">B(-ve)</option>
                <option value="AB+">AB(+ve)</option><option value="AB-">AB(-ve)</option>
              </select>
            </div>
            <!-- BLODD GROUP END -->

            <!-- CONTACT NO -->
            <div class="col-md-3 col-lg-3 col-sm-6 mb-3">
              <label for="contact_no" class="form-label text-white">Contact No:</label>
              <input type="text" class="form-control" name="contact_no" id="contact_no" placeholder="Contact No." value="">
            </div>
            <!-- CONTACT NO END -->
          </div>
          <!-- GENDER,AGE,CONTACT DIV-ROW END -->

          <!-- APPOINTED DOCTOR START -->
          <div class="row">
            <div class="col-md-6 col-lg-6 col-sm-12">
              <label for="doctor" class="form-label text-white">Doctor:</label>
              <select class="form-select text-secondary" name="doctor" id="docotr" >
                  <option value="" selected>Select Doctor</option>
                  {% for doctor in doctors %}
                    <option value="{{doctor.id}}">{{doctor.name}}</option>
                  {% endfor %}
              </select>
            </div>
          </div>
          <!-- APPINTED DOCTOR END -->

          <!-- DOCTOR FEE SECTION DIV-ROW START-->
          <div class="row">
            <div class="col-md-6 col-lg-6 col-sm-12 mt-3">
              <label for="doctor-fee" class="form-label text-white">Doctor Fee:</label>
              <input type="number" class="form-control" name="doctor_fee" value=0 id="doctor-fee" placeholder="eg. 100/200 tk">
            </div>
          </div>
          <!-- DOCTOR FEE SECTION DIV-ROW END-->

          <!-- DOCTOR FEE SECTION DIV-ROW START-->
          <div class="row">
            <div class="col-md-6 col-lg-6 col-sm-12 mt-3">
              <label for="lab-fee" class="form-label text-white">Lab Fee:</label>
              <input type="number" class="form-control" name="lab_fee" value=0 id="lab-fee" placeholder="eg. 100/200 tk">
            </div>
          </div>
          <!-- DOCTOR FEE SECTION DIV-ROW END-->

        <div class="row m-3">

          <!-- IS-DOCTOR-FEE-PAID SECTION DIV-ROW START-->
            <div class="form-check col-md-7 col-lg-7 col-sm-7">
              <input class="form-check-input" name="is_doctor_fee_paid" type="checkbox" value="" id="is-doctor-fee-paid">
              <label class="form-check-label text-white" for="is-doctor-fee-paid">Doctor Fee Paid</label>
            </div>
          <!-- IS-DOCTOR-FEE-PAID SECTION DIV-ROW END-->

          <!-- IS-lAB-FEE-PAID SECTION DIV-ROW START-->
            <div class="form-check col-md-7 col-lg-7 col-sm-7">
              <input class="form-check-input" name="is_lab_fee_paid" type="checkbox" value="" id="is-lab-fee-paid">
              <label class="form-check-label text-white" for="is-lab-fee-paid">Lab Fee Paid</label>
            </div>
          <!-- IS-lAB-FEE-PAID SECTION DIV-ROW END-->

        </div>

          <button type="submit" id="save-print-btn" class="btn btn-secondary">
            <span id="save-span"></span> Print Prescription
          </button>
    </div>
  </form>
</div>
<!-- FORM GRID END -->
{% endblock content %}

{% block js-script %}

<script>
const cardInput = document.getElementById('card');
const resultBox = document.getElementById('result-box');

sendCardID = (cardId) => {
    let myUrl = '/card/search-card-json/'+cardId + '/';
    console.log(myUrl);
    $.ajax({
        url: myUrl ,

        success: (res)=>{
            let arr = res.data;
            let str = "";
            for(item of arr ){
                str+= `<a href="#" class="list-group-item list-group-item-action">
                        ${item.card_id} <small>(${item.name})</small>
                    </a>`
            }
            document.getElementById('result-box').innerHTML = str;

        },

        error : (err) =>{
            console.log(err);
        }
    });
}

cardInput.addEventListener('keyup', e=>{
    if(e.target.value.length > 0 ){
        if (resultBox.classList.contains('not-visible')){
            resultBox.classList.remove('not-visible');
        }
        sendCardID(e.target.value);
    }
    else{
        resultBox.classList.add('not-visible');
    }
    
})

$("#result-box").on("click" , ".list-group-item" , function(){
    let cardId = $(this).html();

    $('#card').val(cardId.trim().split(" ")[0]);
    console.log(cardId.trim().split(" ")[0]);
    $("#result-box").addClass('not-visible');

});

</script>
{% endblock js-script %}