{% extends 'core/base.html' %}
{% load static %}

{% block title %}Appointment History{% endblock title %}

{% block content %}
<h1 class="text-white text-center">
    <strong>#Appointment_History</strong>
</h1>
<br><br>
<table class="table table-dark table-hover text-white mb-3">
    <thead>
      <tr>
        <th scope="col">Patient ID</th> <th scope="col">Serial</th>
        <th scope="col">Name</th> <th scope="col">Gender</th>
        <th scope="col">Age</th> <th scope="col">Contact No</th>
        <th scope="col">Address</th> <th scope="col">Paid</th>
        <th scope="col">Card ID</th> <th scope="col">Date</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
    {% for appointment in appointments %}
      <tr>
          <td><b>{{appointment.id}}</b></td> <td><b>{{appointment.serial_no}}</b></td>
          <td>{{appointment.patient_name}}</td> <td>{{appointment.gender}}</td>
          <td>{{appointment.age}}</td> <td>{{appointment.contact_no}}</td>
          <td>{{appointment.location}}</td>
          <td>{{appointment.doctor_fee|add:appointment.lab_fee}}</td>
          <td>{{appointment.card_id}}</td>
          <td>{{appointment.created_at|date:" H:i, M d, Y"}}</td>
          
          <td>
            <button type="button" class="btn-update btn btn-sm btn-warning" data-bs-toggle="modal" data-bs-target="#updateModal">
              Update
            </button>
            <button class="btn btn-sm btn-danger">Delete</button>
          </td>

          <td class="invisible">{{appointment.doctor_fee}}</td>
          <td class="invisible">{{appointment.lab_fee}}</td>
          <td class="invisible">{{appointment.doctor.id}}</td>
      </tr>
    {% endfor %}

    </tbody>
  </table>


  <!-- MODAL -->
  {% include './update_modal.html' %}
  <!-- MODAL END -->
  <br> <br>
{% endblock content %}

{% block js-script %}
<script>
  // ========================== CARD SEARCH =====================
  const cardInput = document.getElementById('card');
  const resultBox = document.getElementById('result-box');

  sendCardID = (cardId) => {
      let myUrl = '/card/search-card-json/'+cardId + '/';
      console.log(myUrl);
      $.ajax({
          url: myUrl ,

          success: (res)=>{
              let arr = res.data;
              let str = "";
              for(item of arr ){
                  str+= `<a href="#" class="list-group-item list-group-item-action">
                          ${item.card_id} <small>(${item.name})</small>
                      </a>`
              }
              document.getElementById('result-box').innerHTML = str;

          },

          error : (err) =>{
              console.log(err);
          }
      });
  }

  cardInput.addEventListener('keyup', e=>{
      if(e.target.value.length > 0 ){
          if (resultBox.classList.contains('not-visible')){
              resultBox.classList.remove('not-visible');
          }
          sendCardID(e.target.value);
      }
      else{
          resultBox.classList.add('not-visible');
      }
  });

  $("#result-box").on("click" , ".list-group-item" , function(){
      let cardId = $(this).html();

      $('#card').val(cardId.trim().split(" ")[0]);
      console.log(cardId.trim().split(" ")[0]);
      $("#result-box").addClass('not-visible');

  });
// <========================== CARD SEARCH END =====================>


// <========================== UPDATE BUTTON CLICK =====================>
  $('#updateModal').on('show.bs.modal', function (event) {
    let button = $(event.relatedTarget)
    let tr = button.closest("tr");

    td_array = tr.find('td').map(function(col, td){
      return $(td).text();
    });

    $('#patient_id').val(td_array[0]);
    $('#serial_no').val(td_array[1]);
    $('#patient_name').val(td_array[2]);
    $(`#gender option[value=${td_array[3]}]`).attr('selected','selected');
    
    $('#age').val(td_array[4]);
    $('#contact_no').val(td_array[5]);
    $('#location').val(td_array[6]);
    $('#card').val(td_array[8]);
    
    $('#doctor_fee').val(td_array[11]);
    $('#lab_fee').val(td_array[12]);
    $(`#doctor option[value=${td_array[13]}]`).attr('selected','selected');
  });

// ========================== UPDATE BUTTON CLICK END =====================
</script>
{% endblock js-script %}