{% extends '../base.html' %}
{% load static %}

{% block title %}ADD FAMILY MEMBERS AND CREATE PDF{% endblock title %}

{% block content %}
    <h1 class="text-white text-center">
        <strong>#Add_Family_Members</strong>
    </h1>

    <!-- FAMILY MEMBERS -->
    <div class="container">

      <!-- INPUT FAMILY MEMEBERS DIV -->
      <form method="post">
        {% csrf_token %}
        <div id="family-members"></div>
      </form>
      <!-- INPUT FAMILY MEMEBERS DIV END -->

      <!-- ADD NEW MEMBER BUTTON -->
      <div class="mb-3">
        <a style="text-decoration: none;">
          <span class="text-white "><strong>ADD NEW FAMILY MEMBERS</strong></span>
          <img id="add-new-member-button"  width="20px" src="{% static "icons/plus-circle.svg" %}" alt="add-div"/>
        </a>
      </div>
      <!-- ADD NEW MEMBER BUTTON END -->

      <button type="submit" id="save-members-btn" class="btn btn-light mt-2 mb-3">Save and Create Card</button>
    </div>
    <!-- FAMILY MEMBERS END -->
{% endblock content %}

{% block js-script %}
<script>

  // --------------------------  UTILITY FUNCTIONS  --------------------------

  function getMemberList(){
    let member_inps = $('#family-members').find("input");

    let memberList = [];
    for(let i of member_inps){
      if(i.value.length > 0)
        memberList.push(i.value);
    }
      

    return memberList;
  }

  // ------------------------  UTILITY FUNCTIONS END  ------------------------


  // ADD NEW MEMBER INPUT FIELD (ONLY GUI)
  $('#add-new-member-button').on('click', ()=>{
      $('#family-members').append(
        `<div class="row">
          <div class="col-md-6 col-lg-6 col-sm-8 mb-3">
          <input type="text" class="form-control" placeholder="Family Member">
        </div>`
      );
  });


  // SAVE AND CREATE PDF BUTTON ON SUBMIT
  $('#save-members-btn').on('click', ()=>{
    const csrf = $("input[name=csrfmiddlewaretoken]").val();
    const id = {{card_id}};
    let memberList = getMemberList();
    let data = {members : memberList, csrfmiddlewaretoken : csrf}

    console.log(window.location.href);
    $.ajax({
      url : window.location.href,
      method : "POST",
      data : data,
      datatype: "json",
      success: (data, textStatus)=>{
        window.location.href = `/card/${id}/details`;
      }
    });


  });
  


</script>
{% endblock js-script %}