{% extends '../base.html' %}
{% load static %}

{% block title %}CREATE CARD{% endblock title %}

{% block content %}
    <div class="container-fluid bg-img" style="background: url('/static/images/jake-blucker.jpg');">
        <h1 class="text-white text-center">
            <strong>#Create_Card</strong>
        </h1>
        <div class="row">
          <!-- FORM GRID  -->
            <form action="{% url 'cards:create_card' %}" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="col-sm-12 col-md-8 col-lg-8 mb-3">
                <h3 class="text-white"><strong>#Fill_Up_The_Form:</strong></h3>
                <!-- NAME -->
                <div class="row">
                  <div class="col mt-3 mb-3">
                    <label for="name" class="form-label text-white">Name:</label>
                    <input type="text" class="form-control" name="name" id="name" placeholder="Name" required>
                  </div>
                </div>
                <!-- NAME END -->

                <!-- GENDER -->
                <div class="row">
                  <div class="col mb-3">
                    <label for="gender" class="form-label text-white">Gender:</label>
                    <select class="form-select text-secondary" name="gender" id="gender" >
                        <option value="" selected>Gender:</option>
                        <option value="M">Male</option>
                        <option value="F">Female</option>
                    </select>  
                  </div>
                </div>
                <!-- GENDER END -->

                <!-- GUARDIAN SECTION -->
                <div class="row">
                  <div class="col-md-6 col-lg-6 col-sm-12">
                    <label for="guardian-name" class="form-label text-white">Guardian Name:</label>
                    <input type="text" class="form-control" name="guardian-name" id="guardian-name" placeholder="Guardian Name">
                  </div>
                  <div class="col-md-6 col-lg-6 col-sm-12">
                    <label for="guardian-relationship" class="form-label text-white">Guardian Relationship:</label>
                    <select id="guardian-relationship" class="form-select text-secondary" name="guardian-relationship">
                      <option selected>Select Relation</option><option value="FAT">Father</option>
                      <option value="MOT">Mother</option><option value="HUS">Husband</option>
                      <option value="WIF">Wife</option><option value="BRO">Brother</option>
                      <option value="SIS">Sister</option><option value="SON">Son</option>
                      <option value="DAU">Daughter</option><option value="UNC">Uncle</option>
                      <option value="AUNT">Aunt</option>
                    </select>                      
                  </div>
                  <div class="form-text">*Fill up only if you have guardian in your family.</div>
                </div>
                <!-- GUARDIAN SECTION END -->

                <!-- CONTACT NO -->
                <div class="row">
                  <div class="col mb-3">
                    <label for="contact_no" class="form-label text-white">Contact No:</label>
                    <input type="text" class="form-control" name="contact_no" id="contact_no" placeholder="Contact No.">
                  </div>
                </div>
                <!-- CONTACT NO END -->

                <!-- ADDRESS -->
                <div class="row">
                  <div class="col mb-3">
                    <label for="address" class="form-label text-white">Address:</label>
                    <input type="text" class="form-control" name="address" id="address" placeholder="Current Address">
                  </div>
                </div>
                <!-- ADDRESS END -->

                <!-- AGE -->
                <div class="row">
                  <div class="col mb-3">
                    <label for="age" class="form-label text-white">Age(Not Required):</label>
                    <input type="number" class="form-control" name="age" id="age">
                  </div>
                </div>
                <!-- AGE END -->

                <!-- CARD CATEGORY -->
                <div class="row">
                  <div class="col mb-3">
                    <label for="card_category" class="form-label text-white">Card Category:</label>
                    <select class="form-select text-secondary" name="card_category" id="card_category" >
                        <option value="" selected>Select Card Category </option>
                        <option value="P">Poor</option>
                        <option value="NP">Not Poor</option>
                    </select>  
                  </div>
                </div>
                <!-- CARD CATEGORY END -->

                <!-- PERSON PHOTO -->
                <div class="row">
                  <div class="col mb-3">
                    <label class="form-label text-white" for="person_photo">Upload Photo(Not Required):</label>
                    <input type="file" accept="image/*" class="form-control" name="person_photo" id="person_photo" />
                  </div>
                </div>                    
                <!-- PERSON PHOTO END -->

                <!-- CARD ID -->
                <div class="row">
                  <div class="col mb-3">
                    <label for="card_id" class="form-label text-white">Card ID(You Can Not Change This):</label>
                    <input type="text" class="form-control" name="card_id" id="card_id" value="" readonly>
                  </div>
                </div>
                <!-- CARD ID END -->

                <button type="submit" class="btn btn-light">SAVE AND NEXT</button>
              </div>
            </form>
          </div>
      </div>

                      
                  
                      
                      
                    
                  
            </div>
            <!-- FORM GRID END -->
            
        </div>
    </div>
    <script>
      window.addEventListener('load', ()=>{
        document.getElementById('card_id').value = new Date().getTime();
      });
    </script>
{% endblock content %}