body{
    font-family: monospace;
}


.error-msg {
  width: 50%; 
  margin: 0 auto;   
  padding: 19px;
  margin: 0 auto;
  font-size: 20px;
  border-right-color: #dce6dc;
  border-radius: 31px;
  background-color: rgba(43, 84, 44, 0.2);
  border-right-color: #f4f5f4; /* Side Effect Colors */
  border-left-color: #f4f5f4;
  border: 1px solid #f4f5f4;
  border-right-width: 19px;
  border-left-width: 19px;
}
.error-msg {
  color: #f8fcf8;
}

li{
  margin: 10px;
}

.btn-circle{
  width: 100px;
  height: 100px;
  padding: 13px 13px;
  border-radius: 50px;
  border-color: gray;
  border-width: 3px;
  font-size: 19px;
  text-align: center;
}